
header{
    background: #5d81a4;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    position:relative;
    width: 96%;
    }
    header a {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}
header a:hover {
    text-decoration: underline;
    color:#283865;
    text-decoration: underline;
}


.topic {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
    background-color: #022e4e; 
    color: white; 
    padding: 20px;
    width: 180px; 
    min-height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    transition: transform 0.3s;
}

.topic:hover{
    transform: scale(1.2);
}
.direcao{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap: 2px;

}
.quadrado {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color:  #89a1bb; 
    color: white;
    padding: 20px;
    width: 90px; 
    min-height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
}
.quadrado:hover{
    transform: scale(1.2);
}
    .categoria{
        background-color:#89a1bb;
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 25px;
        position:relative;
        width: 96%;
        }
        .categoria a {
            text-align: center;
            font-family: Arial, sans-serif;
            color: #ffffff;
            text-decoration: none;
            margin: 0 15px;
        }
        .categoria a:hover {
            text-decoration: underline;
            color:#283865;
            text-decoration: underline;
        }
.ensino-medio{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.subsequente{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
h2{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #012640;
}
h3{
    font-family: Arial, sans-serif;
    color: #012640;
}
body{
    background-color: #d8e9fa;
}

.materias h3{
    border: 2px solid #283865;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
  }

.materias .informacao{
    font-family: Arial, sans-serif;
    color:  #012640;
    border-right: 1px solid #012640;
    border-bottom: 1px solid #012640;
    border-left: 1px solid #012640;
    border-radius: 0 0 8px 8px;
    margin-top: -20px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.materias.ativa .informacao{
    height: fit-content;
    opacity: 1;
    padding: 24px;
  }