table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.highlight {
    background-color: #d3d3d3;
}
h1{
    text-align: center;
}
body{
    background-color: #d8e9fa;
}