table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #d3d3d3;
}
h1{
    text-align: center;
}
.sombra{
    background-color: #d3d3d3;
}
.brilho{
    background-color: #ffffff;
}

.linha p{
    width: 98%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}