.topic {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #012640; /* Cor de fundo azul-escuro */
    color: white; /* Cor do texto */
    padding: 20px;
    width: 180px; /* Largura de cada retângulo */
    min-height: 100px; /* Altura mínima de cada retângulo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve ao redor dos retângulos */
    border-radius: 8px; /* Bordas arredondadas */
    display: flex;
    justify-content: center; /* Alinha o texto ao centro horizontalmente */
    align-items: center; /* Alinha o texto ao centro verticalmente */
    text-align: center; /* Centraliza o texto dentro do retângulo */
}
.manha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2px;
}
.tarde{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2px;
}
.noite{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 2px;
}
h1{
    text-align: center;
}