body{
    background-color: #d8e9fa;
    margin: 0;
    padding: 0;
}
header{
    background: #5d81a4;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    position:relative;
    width: 96%;
    }
    header a {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}
header a:hover {
    text-decoration: underline;
    color:#283865;
    text-decoration: underline;
}
.direcao{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap: 2px;
}
.quadrado {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color:  #89a1bb; 
    color: white;
    padding: 20px;
    width: 90px; 
    min-height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
}
.quadrado:hover{
    transform: scale(1.2);
}
.categoria{
    background-color:#89a1bb;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    position:relative;
    width: 96%;
}
.categoria a {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}
.categoria a:hover {
    text-decoration: underline;
    color:#283865;
    text-decoration: underline;
}
.materias{
    font-family: Arial, sans-serif;
    color:  #012640;
    font-size: 18px;
    margin: 0 50px;
}

.estudo{
    font-family: Arial, sans-serif;
    color:  black;
    font-size: 20px;
    padding: 10px;
    margin: 0 50px;
}

h1{
    text-align: center;

}
h2{
    margin: 0 20px;
}

h4{
    font-family: Arial, sans-serif;
    color:  #012640;
    font-size: 18px;
}

.anos h4{
    border: 3px solid #283865;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
  }

.anos .materias{
    font-family: Arial, sans-serif;
    color:  #012640;
    border-right: 1px solid #012640;
    border-bottom: 1px solid #012640;
    border-left: 1px solid #012640;
    border-radius: 0 0 8px 8px;
    margin-top: -20px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.anos.ativa .materias{
    height: fit-content;
    opacity: 1;
    padding: 30px;
    margin: 0px;
    margin-top: -28px;
 }