header{
    background: #5d81a4;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    position:relative;
    width: 96%;
    }
    header a {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}
header a:hover {
    text-decoration: underline;
    color:#283865;
    text-decoration: underline;
}

.direcao{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    gap: 2px;

}
.quadrado {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color:  #89a1bb; 
    color: white;
    padding: 20px;
    width: 90px; 
    min-height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
}
.quadrado:hover{
    transform: scale(1.2);
}
body{
    background-color: #d8e9fa;
}

.container {
    width: 80%;
    margin: 20px auto;
}
.news-item {
    background-color:#5d81a4;
    margin: 15px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}
.news-item:hover{
    transform: scale(1.1);
}
.news-item h2 {
    color: white;
}
.news-item p {
    color: white;
    line-height: 1.6;
}

.news-item img {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 8px;
}
