body{
    background-color: #d8e9fa;
}

h1{
    font-family: Arial, sans-serif;
    color:  #012640;
    text-align: center;
}

p{
    font-family: Arial, sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 0 100px;
}
